.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.card {
  inline-size: 100%;
  background-color: var(--background-color-1);
  padding: var(--space-6);
  border: var(--border-1) solid var(--border-colo-1);
  border-radius: var(--space-10);
}

.title {
  display: flex;
  justify-content: center;
  padding-inline: var(--space-16);
}

.content {
  margin-block-start: 12px;
  padding-inline: var(--space-12);
}

.input {
  margin-block-start: 12px;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 4px;
}

.button {
  color: var(--white);
  margin-block-start: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16px;
  gap: var(--space-8);
}

.agreement {
  text-align: center;
  color: rgb(from var(--content-1) r g b/44%);
}

.link {
  color: rgb(from var(--content-1) r g b/70%);
}
