.form {
  display: flex;
  flex-direction: column;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 38px;
  padding-top: var(--space-20);
}

.line {
  display: flex;
  align-items: center;
  text-align: center;
  padding-block: var(--space-16);
  color: var(--base-75);

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: var(--base-75);
  }
}

.or {
  padding-inline: var(--space-8);
}

.margin {
  margin-top: 20px;
}

.container {
  margin-top: 4px;
}

.button {
  margin-top: var(--space-28);
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: var(--space-16);
  gap: 8px;
}
