.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img {
  width: 160px;
}

.card {
  inline-size: 100%;
  padding: var(--space-8);
  border: var(--border-1) solid var(--border-color-1);
  border-radius: var(--space-10);
}

.content {
  padding-inline: 20px;
  margin-top: 12px;
}

.title {
  display: flex;
  justify-content: center;
  padding-inline: var(--space-16);
}

.socials {
  display: flex;
  justify-content: center;
  gap: var(--space-38);
  padding-top: var(--space-20);
}

.line {
  display: flex;
  align-items: center;
  text-align: center;
  padding-block: 16px;
  color: var(--base-75);

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: var(--base-75);
  }
}

.or {
  padding-inline: 8px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 4px;
}

.button {
  color: var(--white);
  margin-block-start: 28px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16px;
  gap: var(--space-8);
}

.agreement {
  text-align: center;
  color: rgb(from var(--content-1) r g b/44%);
}

.link {
  color: rgb(from var(--content-1) r g b/70%);
}
