.form {
  display: flex;
  flex-direction: column;
}

.margin {
  margin-top: 20px;
}

.container {
  margin-top: 4px;
}

.button {
  margin-top: var(--space-28);
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: var(--space-16);
  gap: 8px;
}
