.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vh;
  background-color: var(--black);
  border: var(--border-1) solid var(--border-color-1);
  border-radius: 12px;
  padding: 1rem;
  position: relative;
}

.close {
  padding: 3px;
  position: absolute;
  top: 8px;
  right: 8px;
}
