.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.socials {
  display: flex;
  justify-content: center;
  gap: var(--space-38);
  padding-top: var(--space-20);
}

.line {
  display: flex;
  align-items: center;
  text-align: center;
  padding-block: 16px;
  color: var(--base-75);

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: var(--base-75);
  }
}

.or {
  padding-inline: 8px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin-block-start: 4px;
}

.stepper {
  justify-content: center;
  margin-top: 24px;
}

.button {
  color: var(--white);
  margin-block-start: 28px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16px;
  gap: var(--space-8);
}
