.layout {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 6px;

  &:hover {
    text-decoration: none;
  }
}

.img {
  width: 26px;
}

.brand {
  position: relative;
  top: -2;
}

.card {
  inline-size: 100%;
  margin-top: var(--space-14);
  padding: var(--space-8);
  border: var(--border-1) solid var(--border-color-1);
  border-radius: var(--space-10);
  padding-block: 24px;
}

.content {
  padding-inline: 20px;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 38px;
  padding-top: var(--space-20);
}

.line {
  display: flex;
  align-items: center;
  text-align: center;
  padding-block: var(--space-16);
  color: var(--base-75);

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: var(--base-75);
  }
}

.or {
  padding-inline: var(--space-8);
}

.agreement {
  margin-top: var(--space-12);
  text-align: center;
  color: rgb(from var(--content-1) r g b/44%);
}

.link {
  color: rgb(from var(--content-1) r g b/70%);
}
