.layout {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 6px;

  &:hover {
    text-decoration: none;
  }
}

.img {
  width: 26px;
}

.brand {
  position: relative;
  top: -2;
}

.card {
  inline-size: 100%;
  margin-top: var(--space-14);
  padding: var(--space-8);
  border: var(--border-1) solid var(--border-color-1);
  border-radius: var(--space-10);
  padding-block: 24px;
}

.content {
  padding-inline: 20px;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.agreement {
  margin-top: var(--space-12);
  text-align: center;
  color: rgb(from var(--content-1) r g b/44%);
}

.link {
  color: rgb(from var(--content-1) r g b/70%);
}
