.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.footer {
  display: flex;
  min-height: 22px;
}

.part {
  border-top: var(--border-1) solid var(--border-color-1);
}

.left {
  width: 20px;
}

.right {
  flex-grow: 1;
}

.badge {
  display: inline-block;
  padding-inline: 12px;
  border-top: var(--border-1) solid var(--border-color-3);
  background-color: var(--background-color-3);
  position: relative;
}
