.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--space-16);
  align-items: center;
  font-size: small;
  width: 100%;
  min-height: 44px;
  border-bottom: var(--border-1) solid var(--border-color-1);
  background-color: var(--black);
  gap: var(--space-16);
}

.side {
  display: flex;
  gap: 22px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    text-decoration: none;
  }
}

.icon {
  width: 21px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.dashboard {
  display: flex;
  flex: 1;
}

.footer {
  display: flex;
  min-height: 22px;
}

.part {
  border-top: var(--border-1) solid var(--border-color-1);
}

.left {
  width: 20px;
}

.right {
  flex-grow: 1;
}

.badge {
  display: inline-block;
  padding-inline: 12px;
  border-top: var(--border-1) solid var(--border-color-3);
  background-color: var(--background-color-3);
  position: relative;
}
