.header {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--space-16);
  align-items: center;
  font-size: small;
  position: fixed;
  padding-inline: var(--space-20);
  z-index: 1000;
  min-height: 72px;
  width: 100%;
  max-height: 44px;
  border-bottom: var(--border-1) solid var(--border-color-1);
  background-color: var(--black);
  gap: var(--space-16);
}

.side {
  display: flex;
  gap: 8px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    text-decoration: none;
  }
}

.icon {
  width: 36px;
}

.dashboard {
  display: flex;
  flex: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 4px;
  gap: 12px;
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
  .join {
    display: none;
  }
  .brand {
    display: none;
  }
}
