.page {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--space-16);
  align-items: center;
  font-size: small;
  position: fixed;
  padding-inline: var(--space-20);
  z-index: 1000;
  min-height: 72px;
  width: 100%;
  max-height: 44px;
  border-bottom: var(--border-1) solid var(--border-color-1);
  background-color: var(--black);
  gap: var(--space-16);
}

.side {
  display: flex;
  gap: 22px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    text-decoration: none;
  }
}

.icon {
  width: 32px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.join {
  color: var(--white);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-16);
  position: relative;
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse 55% 60% at center, var(--purple-900) 0%, transparent 110%);
}

.label {
  text-align: center;
}

.gradient {
  background: linear-gradient(
    90deg,
    var(--purple-200) 0%,
    var(--purple-400) 35%,
    var(--purple-500) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  text-align: center;
}

.get_started {
  font-size: 22px;
}

.start {
  padding-inline: 26px;
  min-width: 162px;
}
