.sidebar {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 100%;
  border-right: var(--border-1) solid var(--border-color-1);
}

.top {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.icon {
  width: 24px;
  color: var(--base-75);
}

.selected {
  border-left: var(--border-1) solid var(--border-color-2);
}

.white {
  color: var(--white);
}
