.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-32);
  height: 100vh;
  background: linear-gradient(to bottom, #000000, #0e061b);
}

.main {
  padding-inline: var(--space-16);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-inline-size: 446px;
  margin-inline: auto;
}
