:root {
  --base-300: #161616;
  --base-200: #1e1e1e;
  --base-100: #2d2d2d;
  --base-50: #898989;
  --base-25: #eaeaea;
  --black: #000;
  --white: #fff;
  --primary: var(--base-300);
  --secondary: var(--base-200);
  --tertiary: var(--base-100);
  --content-1: var(--base-50);
  --content-2: var(--base-300);
  --border-color-1: var(--base-50);
  --border-color-2: var(--white);
  --background-color-1: var(--base-100);
  --background-color-2: var(--base-50);
  --background-color-3: var(--base-300);
}
