.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-12);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cells {
  display: flex;
  position: relative;
  gap: 4px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid var(--border-color-1);
  transition: box-shadow 0.15s ease;
  font-size: 28px;
  font-weight: 600;
}

.control {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.destination {
  color: white;
}

.disabled {
  opacity: 0.4;
}

.active {
  border-color: var(--border-color-3);
}

.invalid {
  border-color: var(--error);
}

.cursor {
  width: 2px;
  height: 60%;
  background: var(--primary);
  border-radius: 2px;

  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
