.header {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--space-16);
  align-items: center;
  font-size: small;
  width: 100%;
  min-height: 44px;
  border-bottom: var(--border-1) solid var(--border-color-1);
  background-color: var(--black);
  gap: var(--space-16);
}

.home {
  position: fixed;
  padding-inline: var(--space-20);
  z-index: 1000;
  min-height: 72px;
}

.side {
  display: flex;
  gap: 22px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    text-decoration: none;
  }
}

.sm {
  width: 21px;
}

.lg {
  width: 32px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.join {
  color: var(--white);
}
