.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-inline: var(--space-20);
  align-items: center;
  font-size: small;
  width: 100%;
  min-height: 72px;
  border-bottom: var(--border-1) solid var(--border-color-1);
  background-color: var(--black);
  z-index: 1000;
}

.side {
  display: flex;
  gap: 22px;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;

  &:hover {
    text-decoration: none;
  }
}

.img {
  width: 32px;
}

.brand {
  position: relative;
  top: -2;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.join {
  color: var(--white);
}
