.toast {
  display: flex;
  padding-block: var(--space-12);
  padding-inline: var(--space-14);
  border-radius: var(--border-radius-12);
  background-color: var(--background-color-1);
  align-items: center;
  gap: var(--space-12);
}

.size {
  inline-size: 234px;
}

.label {
  display: flex;
  flex-direction: column;
}

.default {
  background-color: var(--white);
  color: var(--black);
}

.success {
  background-color: var(--green-500);
}

.failed {
  background-color: var(--red-500);
}

.icon {
  inline-size: 24px;
  block-size: 24px;
}
