.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  background-image: url('/home-background.png');
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.label {
  text-align: center;
}

.gradient {
  background: linear-gradient(
    90deg,
    var(--purple-200) 0%,
    var(--purple-400) 35%,
    var(--purple-500) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  text-align: center;
}

.get_started {
  font-size: 22;
}

.start {
  padding-inline: 26px;
}
