.label {
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0;
}

.title1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0;
}

.title2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0;
}

.title3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

.title4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.title5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0;
}

.text1 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.text2 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
}

.caption {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.primary {
  color: var(--primary);
}

.black {
  color: var(--black);
}

.content1 {
  color: var(--content-1);
}

.content2 {
  color: var(--content-2);
}

.error {
  color: var(--error);
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}
