.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  gap: var(--space-8);
  border-radius: var(--border-radius-6);
  text-align: center;
  cursor: pointer;
  transition:
    color 150ms,
    background-color 150ms;

  &:disabled {
    opacity: 0.4;
    cursor: auto;
  }

  &:hover {
    text-decoration: none;
  }
}

.icon {
  flex-shrink: 0;
  inline-size: 24px;
  block-size: 24px;
}

.transparent {
  opacity: 0;
}

.spinner {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  inline-size: 24px;
  block-size: 24px;
  translate: -50% -50%;
  animation: spin 1s linear infinite;
}

.primary {
  color: var(--white);
  background-color: var(--purple-500);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: var(--purple-400);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--purple-600);
  }
}

.whitePrimary {
  color: var(--black);
  background-color: var(--white);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: var(--base-50);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--primary);
  }
}

.transparentPrimary {
  color: var(--purple-500);
  background-color: transparent;
  border: var(--border-1) solid var(--border-color-3);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      color: var(--purple-600);
      background-color: hsl(from var(--white) h s l / 10%);
      backdrop-filter: blur(64px);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    backdrop-filter: blur(64px);
  }
}

.transparentWhite {
  color: var(--white);
  background-color: transparent;
  border: var(--border-1) solid var(--border-color-1);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      color: var(--base-25);
      background-color: hsl(from var(--white) h s l / 10%);
      backdrop-filter: blur(64px);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    backdrop-filter: blur(64px);
  }
}

.transparentGray {
  color: var(--base-50);
  background-color: transparent;
  border: var(--border-1) solid var(--border-color-1);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      color: var(--white);
      border: var(--border-1) solid var(--border-color-2);
      backdrop-filter: blur(64px);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    backdrop-filter: blur(64px);
  }
}

.xs {
  gap: var(--space-4);
  padding-block: var(--space-4);
  padding-inline: var(--space-12);
  min-block-size: 32px;
}

.sm {
  gap: var(--space-4);
  padding-block: var(--space-6);
  padding-inline: var(--space-16);
  min-block-size: 38px;
  border-radius: var(--border-radius-4);
}

.md {
  gap: var(--space-8);
  padding-block: var(--space-8);
  padding-inline: var(--space-10);
  min-block-size: 46px;
}

.lg {
  gap: var(--space-8);
  padding-block: var(--space-8);
  padding-inline: var(--space-32);
  min-block-size: 54px;
}

.xsText,
.smText,
.mdText,
.lgText {
  display: block;
}

.xsText {
  font-size: 14px;
  line-height: 16px;
}

.smText {
  font-size: 16px;
  line-height: 20px;
}

.fullWidth {
  inline-size: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
