.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: small;
  border: var(--border-1) solid var(--border-color-1);
  background-color: var(--extra);
  text-align: center;
  cursor: pointer;
  transition:
    color 150ms,
    background-color 150ms;

  &:disabled {
    opacity: 0.4;
    cursor: auto;
  }

  &:hover {
    text-decoration: none;
  }
}

.icon {
  flex-shrink: 0;
  display: block;
  inline-size: 24px;
  block-size: 24px;
}

.trasparent {
  opacity: 0;
}

.spinner {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  inline-size: 24px;
  block-size: 24px;
  translate: -50% -50%;
  animation: spin 1s linear infinite;
}

.xs {
  gap: var(--space-4);
  padding-block: var(--space-6);
  padding-inline: var(--space-10);
}

.md {
  gap: var(--space-8);
  padding-block: var(--space-6);
  padding-inline: var(--space-10);
}

.lg {
  gap: var(--space-8);
  padding-block: var(--space-8);
  padding-inline: var(--space-32);
  min-block-size: 56px;
  border-radius: var(--radius-16);
}

.xsText,
.smText,
.mdText,
.lgText {
  display: block;
}

.xsText {
  font-size: 14px;
  line-height: 16px;
}

.smText {
  font-size: 16px;
  line-height: 20px;
}

.fullWidth {
  inline-size: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
